._open-filters-button
  %a.btn.btn-outline-secondary{ "data-bs": { toggle: "offcanvas",
                                                   target: "##{offcanvas_filter_id}" },
                                      title: "Filter",
                                      href: "" }
    = icon_tag :filter_list
    Filter