._filtered-list-item.row{ data: wrap_data }
  .col-1._handle
    = icon_tag :reorder
  .col-10
    = interior
  .col-1.filtered-list-item-button
    %button._filtered-list-item-delete.btn.btn-secondary.btn-sm.m-2{ type: "button"}
      = icon_tag :remove
