.import-map-header.py-2
  .lead
    Match data in import file with
    = :title.card&.content
    data.

.card-notice

.import-map-body
  .import-map-form.d-flex.justify-content-end
    = render_map_form

  .import-map-tabs
    = render_tabs
