.import-map-header.py-2
  .lead
    Ensure items in file are mapped to WikiRate content.

.card-notice

.import-map-body
  .import-map-form.d-flex.justify-content-end
    = render_map_form

  .import-map-legend.float-end.d-flex.align-items-center.flex-column.p-1.bg-light.my-3
    .tab-badge.count-number.clearfix
      %span.badge.badge-secondary
        \# unique
    .light-grey-color-2
      (# unmapped)
  .import-map-tabs
    = render_tabs
