%tr._import-map-item._import-item-without-suggestions
  %td
  %td.in-file
    = name_in_file
  %td
    \--
  %td
    %i.fa.fa-circle.text-red
    No Match
  %td.text-right
    = suggest_link type, cardname
