%tr._import-map-item._import-item-matched
  %td
  %td.in-file
    = name_in_file
  %td
    = nest cardname, view: item_view
  %td
    %i.fa.fa-circle
    Match
  %td.text-right
    = suggest_link type, cardname
