.import-status-row
  .flex.bg-light
    .row-num
      = index
    - if (card_id = status_hash[:id])
      .card-link
        = link_to_card card_id, full_page_icon
  .row-content
    - row_hash.each do |column, val|
      = val
