%table.wikirate-table.import-table.import-status-table
  %thead
    %tr
      %th &nbsp;
      - columns.each do |column|
        %th.text-left
          = column_title column
  %tbody
    - card.each_item_with_status status do |index, item|
      %tr
        %td
          = row_label_cell status, index
        - each_cell columns, item do |value, klass, title|
          %td{ class: klass, title: title }
            = value
