%table.wikirate-table.import-table.import-status-table
  %thead
    %tr
      - columns.each do |column|
        %th
          = column_title column
  %tbody
    - each_row_with_status status do |item, index|
      %tr
        - each_cell columns, item do |value, klass, title|
          %td{ class: klass, title: title }
            = value
