.bookmark-toggle{ class: bookmark_status_class, title: "Bookmark", "data-bs-toggle": "tooltip", "data-bs-placement": "bottom" }
  = icon_tag :bookmark
  %span.bookmark-count
    = count
  // = modal_link count, class: "bookmark-count"