.filter-and-sort {
  padding-top: 1.5em;
}

.filter-section-icon {
  width: 25px;
  color: $text-muted;
  float: left;
  padding: 0.5rem;
}

// Fix to prevent that the dropdown becomes bigger than the area it is inside.
// happens for example for project filter
// The reason is that dropdownAutoWidth in script_load_select2.js.coffee sets a fixed
// width so that the longest entry fits in
.filter-in-filter-form {
  max-width: 100%;
  // overflow-x: hidden;
  .dropdown-menu {
    z-index: 1035;
  }
}

.filter-input-group, .sort-input-group {
  max-width: 100% !important;
  margin: 0 0.5rem 0.5rem 0;
  display: flex;
  flex-wrap: nowrap;
  btn, .input-group-text, input, .select2-selection, .input-group-prepend {
    border-color: $gray-200;
  }
}

.range-filter-field {
  max-width: 50px;
}

.filter-form {
  > .card {
    border: 0;
    background: inherit;
    > .card-body {
      padding: 1rem 0 0.5rem 0;
    }
  }

  &.accordion .accordion-body {
    padding: 1rem 0.75rem;
  }

  .accordion-item {
    border: 0;
    border-bottom: 1px solid $border-color;
  }
}

.filtered_results-view {
  min-height: 300px;
}

._more-filter-option {
  display: none;
}

h2.accordion-header {
  margin-top: 0 !important;
}

._compact-filter {
  .input-group.sort-input-group, ._filter-container > .input-group {
    width: auto !important;
  }
  select {
    min-width: 30%;
    max-width: 100%;
  }
}

._filtering ._filterable {
  cursor: pointer;
  &:hover {
    background-color: $gray-100;
  }
}
._filter-link {
  cursor: pointer;
}

.pointer-radio-list, .filtered-list-review {
  list-style-type: none;
}

._filter_container .input-group-btn .btn {
  height: 100%;
}
