%iframe{ style: "width: 100%",
         id: "source-preview-iframe",
         class: "pdfjs-iframe",
         src: viewer_path,
         security: "restricted",
         sandbox: "allow-same-origin allow-scripts allow-forms allow-modals " \
                  "allow-top-navigation",
         allowfullscreen: true }
