--color
--profile
--backtrace
--format documentation
--default-path /home/semaphore/card-mods
--require "./spec/spec_helper"
\\--pattern "*/spec/**/*_spec.rb"
--pattern "card-mod-{bookmarks,pdfjs,graphql,mirror,social,solid_cache}/spec/**/*_spec.rb"
