--color
--profile
--backtrace

--default-path /home/semaphore/card-mods

--require "./spec/spec_helper"
--pattern "card-mod-*/spec/**/*_spec.rb"

# junit formatter outputs to file
--format RspecJunitFormatter
--out junit.xml

# documentation output to stdout
--format documentation
