.d-flex.py-2.justify-content-start._import-map-suggestion{ "data-cardname": suggestion.name}
  .me-1
    %button.btn.btn-sm.me-2.btn-outline-secondary._suggest-import-item{ "data-bs-toggle": "button", title: "Accept suggestion" }
      = icon_tag :check
  .ms-1
    = nest suggestion
